* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;
}

section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: circle(70% at right -20%);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    width: 150px;
}

header .navigation {
    display: flex;
    position: relative;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.content .textBox h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    margin-bottom: 10px;
}

.content .textBox p {
    color: white;
}

.content .textBox a {
    display: inline-block;
    color: #fff;
    background-color: #e51e2a;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 40px;
    font-weight: 500;
}

.sci {
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li a {
    display: inline-block;
    margin-left: 15px;
    width: 50px;
    height: 50px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.sci li a:hover {
    background-color: #e51e2a;
    transform: translateY(-10px);
}

.sci li a img {
    filter: invert(1);
    transform: scale(0.5);
}


.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 400px;
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

.content .imgBox {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

.content .imgBox img {
    max-width: 150px;
}


.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}



@media (max-width: 991px) {
    header {
        padding: 40px;
    }

    section {
        padding: 140px 40px;
    }

    .sci {
        left: 40px;
    }

    .content {
        flex-direction: column;
    }

    .content .textBox,
    .content .imgBox {
        width: 100%;
    }

    .swiper-slide {
        height: 300px;
    }

    header .navigation {
        display: none;
    }

    header .navigation .active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 10%;
        display: flex;
        background-color: #e51e2a;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .navigation li a {
        font-weight: 300;
        margin-left: 0;
        margin: 10px 0;
        font-size: 1.5em;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background-image: url(..//assets/img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 10000;
    }

    .toggle .active {
        position: fixed;
        right: 40px;
        background-image: url(..//assets/img/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
}